<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260182988802-8g863eom5dpv87u1r8vc4sug0g4ruuta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260182988802-8g863eom5dpv87u1r8vc4sug0g4ruuta</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260182988802-2veic2sd5aoirsvscg4tjr3pgrnj2bee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOcXNnUhpBVji5sqDXW2_ffqRn_asb0ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>260182988802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiveFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vesta-5e1d2</string>
	<key>STORAGE_BUCKET</key>
	<string>vesta-5e1d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260182988802:ios:a85ce2946fde0232dcef1b</string>
</dict>
</plist>